<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
         integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
         crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/home.css">

    </head>
    <body>
        
            <h1 id="page-heading">
                <i class="fas fa-address-book"></i>
                Contacts List
            </h1>

        
        
        <div id="conatct-list-section">
            <ul id="contact-list">
                <%for(let i of contact_list){%>
                    <li>
                        <span id="list1" style="text-align: left;"><%=i.name%></span>
                        <span id="list2"><%=i.phone%></span>
                    </li>
                <%}%>

                
            </ul>
        </div>    
        <div id="form-section">
            <form action="/create_contact" method="POST">
                <input type="text" name="name" placeholder="enter name" required>
                <input type="number" name="phone" placeholder="enter phone" required>
                <button type="submit">Add Contact</button>
            </form>

        </div>    
            
        
        <script src="/js/home.js"></script>
    </body>
</html>